.container {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 1em;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
