.main__container {
    display: flex;
    margin-top: 4rem;
}

.main__content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    width: min(90%, 75rem);
    gap: 5rem;
    margin-top: 4rem;
    margin-inline: auto;
}

.game__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}