.selects {
  display: flex;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 8px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 8px;
}
